@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Assignment</h1>
    <h6 style="text-align:left">
        Order management program:<br />
        1. Login/Sign up functionality<br />
        2. List of Items (whole CRUD).<br />
        3. Order CRUD  - in order I can add multiple items, set price discount and calculate total amount. Total amount can have discount as well. (like a promo code or something like this)<br />
        4. In the list of orders I want to have button to change order status – Ordered, Processed, Shipped, Completed, Paid, Closed.<br />
        5. Filters on list of orders regarding status<br />
        6.Provider – always the same (can be hardcoded company with Name, code, address, VAT code and etc. )<br />
        7.Customer – can be entered manually when creating order but then it should be saved and in the next creation dropdown should allow me to select from already existing customers.<br />
    </h6>
</div>
